:root {
    --body-padding: 1vmin;
    --body-height:100vh;
    --container-margin:10px;
}
body {
    margin:0;
    padding:1%;
    padding:var(--body-padding);

    height: var(--body-height);
    /* max-height: 100vh; */
    box-sizing: border-box;
}

.container {
    height: 32.5797%;
    height: calc((var(--body-height) / 2.999) - (var(--body-padding)) - (var(--container-margin) * 1) - 10px);
    margin-bottom: 1px;
    margin-bottom: var(--container-margin);
    margin-top:var(--container-margin);
}

/* body:last-child {
    margin-bottom: 0;
} */
#first-container {
    border: 5px solid black;
    
}
#second-container {
    border: 5px dotted black;
}
#third-container {

}