*{
    box-sizing: border-box;
}

body{
    margin:0;

}
body:nth-child(2) {
    margin-top: 60px;
}

.container {
    height: 14.29vh;
}
.header.container {
    box-shadow: border-box;
    background-color: silver;
    /* padding-top:1%; */
    padding-bottom: 1%;
    padding-top:1%;
    padding-left: 1.5%;
    height: 60px;
    top:0;
    position: absolute;
    width:100%;
}
.header.container .menu-button {
    height: 50px;
    width:50px;
    background-color: rgb(74,144,226);
    border:none;
    
}
#example-text {
    height: 28.55vh;
    box-sizing: border-box;
    padding:5%;

}
#example-text p {
    display: inline-block;
    margin:0;
}
#third{background-color: rgb(74,144,226);}
#fourth{background-color: rgb(80, 227, 194);}
#fifth{background-color: rgb(184, 233, 134);}
#sixth{background-color: rgb(248, 231, 28);}
